/* Edge styles */
.react-flow__edge {
  transition: all 0.3s ease;
  pointer-events: none;
}

.react-flow__edge-path {
  transition: none !important;
}

/* Edge highlighting */
.react-flow.dimmed .react-flow__edge {
  opacity: 0.2;
}

.react-flow.dimmed .react-flow__edge.highlight {
  opacity: 1;
  stroke-width: 2;
  z-index: 10;
}

.react-flow.dimmed .react-flow__edge.highlight path {
  stroke: #0e639c;
  stroke-width: 2;
  stroke-dasharray: 5;
  animation: flowAnimation 1.5s linear infinite;
}

/* Animated path edges */
.react-flow.dimmed .react-flow__edge.animated-path path {
  stroke: #0e639c;
  stroke-width: 3;
  stroke-dasharray: 10;
  animation: flowAnimation 1.5s linear infinite;
}

/* Animation for the flowing effect */
@keyframes flowAnimation {
  0% {
    stroke-dashoffset: 20;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Handle styles */
.react-flow__handle {
  z-index: 3;
}